.button {
    margin-left: 400px;
}
.gen{
    margin-right: 5px;
}
.error{
    color:red;
}
.container{
    border-width: 100px;
}
.load-4 .ring-1 {
    animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
  .l-4 {
    animation-delay: 0.84s;
  }