.navbar-brand{
    color:white;
    font-size: 20px;
}
.nav-link{
    color:white;
    font-size: 15px;
}
.marque{
    font-size:40px;
    color:blue;
}
.dropdown:hover > .dropdown-menu{
    display: block;
    margin-top: .120em;
}
.drop-item{
    margin-top:3px;
}
